<?xml version="1.0"?>
  <model>
    <name>gradient_room</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
      <name>Paul Blum</name>
      <email>paul_d_blum@yahoo.com</email>
    </author>
    <description>
      A 2m x 2m room with RGBK gradient textures applied to the walls.
      Designed for robot camera experimentation.

      Wall thickness: 0.01 meters
      Wall height: 0.5 meters
    </description>
  </model>
