<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find room_evac_gazebo)/worlds/origin_centered.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- import models -->
  <param name="basicjetbot" command="$(find xacro)/xacro '$(find basicjetbot_description)/urdf/basicjetbot.xacro'"/>
  <param name="emptyroom_8x8" command="$(find xacro)/xacro '$(find emptyroom_description)/urdf/emptyroom_8x8.xacro'"/>
  <param name="small_box" command="$(find xacro)/xacro '$(find obstacles)/small_box/small_box.xacro'"/>

  <!-- spawn models -->
  <node name="basicjetbot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param basicjetbot -model basicjetbot" />

  <node name="room_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param emptyroom_8x8 -model emptyroom_8x8" />

  <node name="obstacle1_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param small_box -model small_box1 -x 0.376 -y 0.675" />
  
  <node name="obstacle2_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param small_box -model small_box2 -x -0.5 -y 0.333" />
  
  <node name="obstacle3_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param small_box -model small_box3 -x 0.419 -y -0.188" />

  <node name="obstacle4_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param small_box -model small_box4 -x -0.282 -y -0.628" />

</launch>
