<?xml version="1.0"?>
  <model>
    <name>small_box</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
      <name>Paul Blum</name>
      <email>paul_d_blum@yahoo.com</email>
    </author>
    <description>
      A static box obstacle, 1ft x 1ft x 1ft.
    </description>
  </model>
