<?xml version="1.0"?>
  <model>
    <name>basicjetbot</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
      <name>Paul Blum</name>
      <email>paul_d_blum@yahoo.com</email>
    </author>
    <description>
      A low-poly JetBot model for increased simulation speed.
      Critical dimensions match those of the SparkFun JetBot v2.0.
    </description>
  </model>
