<?xml version='1.0'?>
<!-- obstacle: small_box (1ft x 1ft x 1ft) // URDF MODEL DEFINITION -->

<robot name="small_box" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="one_foot" value="0.3048" /> <!-- meters -->
  
  <xacro:include filename="$(find obstacles)/sdf/static.gazebo" />
  
  <link name='small_box'>
    <inertial>
      <mass value="0.837"/>
      <inertia
          ixx="0.0007576" ixy="0" ixz="0"
          iyy="0.0015486" iyz="0"
          izz="0.0017524"
      />
    </inertial>

    <collision>
      <origin xyz="0 0 ${one_foot/2}"/>
      <geometry>
        <box size="${one_foot} ${one_foot} ${one_foot}"/>
      </geometry>
    </collision>
    
    <visual>
      <origin xyz="0 0 ${one_foot/2}"/>
      <geometry>
        <box size="${one_foot} ${one_foot} ${one_foot}"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>

  </link>
</robot>
