<?xml version="1.0"?>
  <model>
    <name>evac_room</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
      <name>Paul Blum</name>
      <email>paul_d_blum@yahoo.com</email>
    </author>
    <description>
      An 8ft x 8ft room with an exit in the middle of the (+y) wall.
      Designed for robot evacuation simulations.

      Wall thickness: 0.1 meters
      Wall height: 0.1 meters
      Exit width: 0.5 meters
    </description>
  </model>
